.WebSlices{
    margin: 50px;
    h2 {
        text-align: center;
        margin: 50px auto;
        font-size: 32px;
        font-weight: 700;
      }
    .container{
        display: flex;
        align-items: center;
        img{
            width: 200px;
            height: auto;
            flex-direction: column;
            margin-right: 100px;
            object-fit: cover;
        }
    }
}