.Testimotials {
  background-color: #f2f2f2;
  .slider__container {
    margin: 0 auto;
    max-width: 500px;

    .slick-slide {
      text-align: center;
      padding: 20px;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    img {
      border-radius: 100%;
      object-fit: cover;
      width: 100px;
      height: 100px;
    }
    h2 {
      color: black;
      font-weight: 600;
      font-size: 20px;
    }
    h3 {
      font-weight: 400;
      font-size: 18px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
    }
  }
  &__rate {
    display: flex;
    img {
        width: 25px;
        height: 25px;
    }
  }
  .slick-dots li {
    display: none;
  }

  .slick-arrow::before {
    color: orange;
  }
}
