 .main{
     color: white;
     display: flex;
     .nav_mainDiv{    
         background-color: #181B2C;
         width: 60%;
         .container{
             .nav_firstSection{
                color: white;
                font-size: 20px;
                letter-spacing: 2px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                display: flex;
                align-items: center;     
                padding: 0 150px 150px 150px;  
                h1{
                width: 70%;
                }
                ul{
                 list-style: none;
                 font-size: 16px;
                 width: 30%;
                 display: flex;
                 justify-content: space-between;
                }   }
            }
                span{
                    padding: 150px 150px 0 150px;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 2px;
                    margin-bottom: 0;
                }
                h2{
                    padding: 0 150px 50px 150px;
                    font-size: 82px;
                }
                p{
                    padding: 0 150px 50px 150px;
                    font-size: 20px;

                }
                form{
                    padding-left: 150px;
                    .inputs{
                        background-color: #fff;
                        width: 55%;
                        border-radius: 8px;
                        input[type=text]{
                            width: 70%;
                            height: 55px;
                            padding-left: 25px;
                            border: none;
                        }
                        input[type=submit]{
                            padding: 12px 25px ;
                            background-color: rgb(233, 109, 8);
                            color: #fff;
                            border-radius: 8px;
                            border-color: transparent;
                            cursor: pointer;
                            font-size: 16px;
                        }
                } 
            }
        }
    }
 
       
.nav_secondSection{
    background-image: url('/images/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    .nav_secondDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        padding: 50px;
        gap: 0 30px;
        letter-spacing: 2px;
        color: #1d1d1d;
        h4{
            border: 1px solid #1d1d1d;
            padding: 10px 20px;
            cursor: pointer;
        }
        
    }
   
}
